Scraping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import random
import timeimport numpy as np

In [2]:
headers = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
    "Cookie": """ubid-main=134-5936757-7447853; aws-target-visitor-id=1664421793462-332564.35_0; _mkto_trk=id:365-EFI-026&token:_mch-amazon.com-1664516896070-27386; AMCV_4A8581745834114C0A495E2B%40AdobeOrg=-2121179033%7CMCIDTS%7C19266%7CMCMID%7C12246670758091194210199356277681009451%7CMCAAMLH-1665121695%7C9%7CMCAAMB-1665121695%7CRKhpRz8krg2tLO6pguXWp5olkAcUniQYPHaMWWgdJ3xzPWQmdj0y%7CMCOPTOUT-1664524096s%7CNONE%7CMCAID%7CNONE%7CvVersion%7C5.3.0; mbox=session#3e8046ed388c401bacc26266646a52f2#1664518757|PC#3e8046ed388c401bacc26266646a52f2.35_0#1727761697; s_nr=1664516896453-New; s_lv=1664516896454; AMCV_7742037254C95E840A4C98A6%40AdobeOrg=1585540135%7CMCIDTS%7C19268%7CMCMID%7C11816054594718087900170928610304657024%7CMCAAMLH-1665346797%7C9%7CMCAAMB-1665346797%7CRKhpRz8krg2tLO6pguXWp5olkAcUniQYPHaMWWgdJ3xzPWQmdj0y%7CMCOPTOUT-1664749197s%7CNONE%7CMCAID%7CNONE%7CvVersion%7C4.4.0; aws-ubid-main=211-2122155-8650175; aws-session-id=135-3830019-9043757; aws-session-token=I0IGjNU6LQmTmII7nSvrUWH7yOyZLtAHiIZF15ygxSphj5GG0NOgCq+oiWtod2e92H6R1N+jW6xGHuObtE5iljlCv/Yg3pNNaTD2DrvYyqBGJaf7OKFzwrF7pfOjax2WqEvh+djH3x/0PpkgdYWYlDUBNH7ldSNcJw00F5aBWloOlFXXpC28WJL2n7bTdnPsxnOw/fLA5YEA/fzQBlsaA6SKGKb19EOUYYr6BtBol6ktEW0ZEQE4qgTZ2RPO+o/U; sess-aws-at-main="GxkIjxLca75iSgDVxOIG9JCJD0lgi4YnHGBfjCS2NPg="; regStatus=registered; aws-target-data=%7B%22support%22%3A%221%22%7D; aws-userInfo=%7B%22arn%22%3A%22arn%3Aaws%3Aiam%3A%3A367413547102%3Aroot%22%2C%22alias%22%3A%22%22%2C%22username%22%3A%22Samridhi%2520Mehra%22%2C%22keybase%22%3A%22%22%2C%22issuer%22%3A%22https%3A%2F%2Fwww.amazon.com%2Fap%2Fsignin%22%2C%22signinType%22%3A%22PUBLIC%22%7D; __utma=194891197.1769194129.1664742021.1664742021.1664861013.2; __utmz=194891197.1664861013.2.2.utmccn=(referral)|utmcsr=s3.console.aws.amazon.com|utmcct=/|utmcmd=referral; aws-session-id-time=2295581014l; x-main="BGiaf4?9c?p2ZolyoWTkpcwTXse@a8o5"; at-main=Atza|IwEBIK4SBpRcZ4zRNtFbY-dCi0CYWITHLOohO8VxQ4jzdqLMUZANySl2B4BQs3dkFfENLFEyP655vm6LzX_RFEiPh5GL89aMSSNffBNmtJtyBkn9O3STWHDwSpr-4mNb_30HCEYwn3zMZoldA10Owbk3ePvK2mnGGa6rhEwyBw8sTMYp-8rRM9ah2e_Bb4H39OpcZ1LVCI81W_qD6HRF9CXJN3pq; sess-at-main="dDlh1DZ/3eTIUNIaoPCe799xprfhNP0+cZ1r20RiN70="; sst-main=Sst1|PQF6o3I9LAwFcGMem4WuXJRsCdLcUieyJKCXDusrxP0vWiL7h8S8ajKIvyKWKr4mKtsXnHb0PHMomQCdltKk8elz8kYigEFyuiIbpZ0ZWKzsp8QKTWQwy7j8acDqNLHaHryZRS5fAbubbnnyaEptxgy_dlMDo-9uuWpfrrg7wvRzDPyjj2ZzD3EIo13GfS-rLiRW2SfUuu51TYcJ3YgdbgqyPIkoxM3pgxx0p4zbxFz4eDahByD4QSiH4Gn5VlfSAK6GvD5bKGJKbkeueFWvskDTi51yl3VPoy8qraPaOGjCv4U; lc-main=en_US; i18n-prefs=USD; session-id=136-3455252-9050350; session-id-apay=136-3455252-9050350; session-id-time=2082787201l; skin=noskin; session-token=CwCU1eDAdFPnaDYn6RDoG5RyOdb36G2gxf91BImtE0v9u/eg1SmjwWKzKVI/CnkkgkAT2HQxGXJQZr7THMLVJWVBWNO4HOYHlKdqv2wOmwlxuKPtyhac6bJ9xO7vTXNFlvjzqjw49WmGHaHRG+FH52FB22pnYWs8BL2NWcCweKdw1gO3JKLZHmQcpy1EowK+WvQWxE3g8EHdPKZKwVWCOx13ayFfHsza0GEdCNG9cxBlHIXTelfUhnVxUG5w+BFc"""
}

In [3]:
def collect_ASINs(soup):
    ASINs = []
    best_sellers = soup.find_all("div", {"data-csa-c-content-id": "amzn1.sym.309d45c5-3eba-4f62-9bb2-0acdcf0662e7"})
    for row in best_sellers:
        cards = row.find("ol").find_all("li")
        for item in cards:
            ASINs.append(item.find("div", {"class": "p13n-sc-uncoverable-faceout"})["id"])
    return ASINs


url = "https://www.amazon.com/gp/bestsellers/?ref_=nav_cs_bestsellers"
response = requests.get(url=url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')

asins = collect_ASINs(soup)

In [4]:
def get_page_reviews(soup):
    try:
        reviews = soup.find("div", {"id": "cm_cr-review_list"}).find_all("div", {"data-hook": "review"})
    except:
        return None
    
    data = []
    
    for review in reviews:
        try:
            data.append({
                "rating": float(review.find("span", {"class": "a-icon-alt"}).text.split(' ')[0]),
                "title": review.find("a", {"data-hook": "review-title"}).find("span").text,
                "text": review.find("span", {"data-hook": "review-body"}).find("span").text
            })
        except:
            continue
    
    
    
    if data:
        return pd.DataFrame(data)
    else:
        return None


def get_all_reviews(ASIN):
    reviews_df = pd.DataFrame(columns=["rating","title","text"])
    for i in range(1,100):
        time.sleep(random.uniform(1,5))
        url = f"https://www.amazon.com/product-reviews/{ASIN}/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber={i}"
        response = requests.get(url=url, headers=headers)
        soup = BeautifulSoup(response.content, 'html.parser')
        new_reviews = get_page_reviews(soup)
        if type(new_reviews) == type(None):
            break
        else:
            reviews_df = pd.concat([reviews_df, new_reviews])
            
    return reviews_df

In [98]:
df = pd.DataFrame(columns=["rating","title","text"])


for count, asin in enumerate(asins):
    df = pd.concat([df, get_all_reviews(asin)])
    df.to_csv(f"{count}.csv")
    time.sleep(random.uniform(5,15))

NameError: name 'asins' is not defined

Machine Learning

In [2]:
import pandas as pd
import numpy as np

In [3]:
reviews_df = pd.read_csv('35.csv').drop(['Unnamed: 0'], axis=1)
reviews_df

,rating,title,text
0,4.0,Works well on some surfaces,This is my first experience with this type of ...
1,5.0,Impressive,This worked better than I expected. I hated th...
2,5.0,Good but not so much if it's cold-Vine Review.,Honest Vine Review-It does get loose dust and ...
3,4.0,Overall good product.,I like this product overall. It’s easy to use....
4,4.0,Great for getting dirt out of small spaces!,This gel does an amazing job cleaning the dirt...
...,...,...,...
34164,4.0,Great Protection,These have protected my watch and is built wit...
34165,5.0,It protects your watch,Today it happened. I was fiddling with my watc...
34166,3.0,Pretty Color but a Few Issues,"This is a two pack - one clear, one pink.The p..."
34167,4.0,there’s pros and cons,"Very easy to install, but you have to press a ..."
34168,5.0,LOVE THIS!!!,I AM SO GLAD I LOOKED AT ALL THE REVIEWS AND P...

Combining the title and text for a full textual review because both fields can be used for word analysis

In [4]:
reviews_df['review'] = reviews_df['title'] + ' ' + reviews_df['text']
reviews_df = reviews_df.drop(['title','text'], axis=1)
reviews_df

       rating                                             review
0         4.0  Works well on some surfaces This is my first e...
1         5.0  Impressive This worked better than I expected....
2         5.0  Good but not so much if it's cold-Vine Review....
3         4.0  Overall good product. I like this product over...
4         4.0  Great for getting dirt out of small spaces! Th...
...       ...                                                ...
34164     4.0  Great Protection These have protected my watch...
34165     5.0  It protects your watch Today it happened. I wa...
34166     3.0  Pretty Color but a Few Issues This is a two pa...
34167     4.0  there’s pros and cons Very easy to install, bu...
34168     5.0  LOVE THIS!!! I AM SO GLAD I LOOKED AT ALL THE ...

[34169 rows x 2 columns]

Converting all the words to lowercase so they can be processed the same
Also removing all emojis

In [5]:
import demoji

reviews_df = reviews_df.dropna()
reviews_df['review'] = list(map(lambda review: review.lower(), reviews_df['review']))


cleaned_reviews = []

for review in reviews_df['review']:
    review_emojis = demoji.findall_list(review, desc=False)
    if review_emojis != []:
        for emoji in review_emojis:
            review = review.replace(emoji, '')
    cleaned_reviews.append(review) 

reviews_df['review'] = cleaned_reviews

/var/folders/_0/zqnz262926vbc83620bb5j9w0000gn/T/ipykernel_77826/424690936.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_df['review'] = list(map(lambda review: review.lower(), reviews_df['review']))
/var/folders/_0/zqnz262926vbc83620bb5j9w0000gn/T/ipykernel_77826/424690936.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_df['review'] = cleaned_reviews

Removing all 3.0 ratings from the dataframe because they cannot be identified as positive or negative (they're neutral)

In [6]:
reviews_df = reviews_df.loc[reviews_df['rating'] != 3]
reviews_df

       rating                                             review
0         4.0  works well on some surfaces this is my first e...
1         5.0  impressive this worked better than i expected....
2         5.0  good but not so much if it's cold-vine review....
3         4.0  overall good product. i like this product over...
4         4.0  great for getting dirt out of small spaces! th...
...       ...                                                ...
34163     5.0  protects watch face great screen protector! ke...
34164     4.0  great protection these have protected my watch...
34165     5.0  it protects your watch today it happened. i wa...
34167     4.0  there’s pros and cons very easy to install, bu...
34168     5.0  love this!!! i am so glad i looked at all the ...

[31329 rows x 2 columns]

Converting all reviews below 3 to negative (0) and all reviews above 3 to positive (1)

In [7]:
reviews_df['sentiment'] = list(map(lambda x: 0 if (x < 3) else 1, reviews_df['rating']))
reviews_df = reviews_df.drop(['rating'], axis=1)
reviews_df

/var/folders/_0/zqnz262926vbc83620bb5j9w0000gn/T/ipykernel_77826/3662438339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_df['sentiment'] = list(map(lambda x: 0 if (x < 3) else 1, reviews_df['rating']))

                                                  review  sentiment
0      works well on some surfaces this is my first e...          1
1      impressive this worked better than i expected....          1
2      good but not so much if it's cold-vine review....          1
3      overall good product. i like this product over...          1
4      great for getting dirt out of small spaces! th...          1
...                                                  ...        ...
34163  protects watch face great screen protector! ke...          1
34164  great protection these have protected my watch...          1
34165  it protects your watch today it happened. i wa...          1
34167  there’s pros and cons very easy to install, bu...          1
34168  love this!!! i am so glad i looked at all the ...          1

[31329 rows x 2 columns]

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(reviews_df['review'])
ml_df = pd.DataFrame(X.toarray())
ml_df['sentiment'] = reviews_df['sentiment']
ml_df = ml_df.dropna()
ml_df

,0,1,2,3,4,5,6,7,8,9,...,21894,21895,21896,21897,21898,21899,21900,21901,21902,sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
31325,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
31326,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
31327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
31328,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0

Splitting Data into Training and Testing

In [9]:
X = np.array(ml_df.drop(['sentiment'], axis=1))
y = np.array(ml_df['sentiment'])

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb = gnb.fit(X_train, y_train)

In [ ]:
y_pred = gnb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.5842945357101247